* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    background-color: unset;
    border: none;

    &:active {
        transform: translateY(1px);
        opacity: 0.9;
    }
}

input {
    border: none;
    outline: none;
}

.container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}